<a href="https://colab.research.google.com/github/sangttruong/IncomeVis/blob/master/VizIncIneq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Technical Appendix for Visualizing Income Inequality in the United States**

*Author: [Sang Truong](mailto:sangtruong_2021@depauw.edu) and [Prof. Humberto Barreto](mailto:hbarreto@depauw.edu)*

Department of Economics and Management

DePauw University, Greencastle, IN 46135

## **Section 1. Introduction**

This notebook supports Barreto and Truong's 2020 paper, "Visualizing Income Inequality in the United States." It gives a detailed explanation of the transformation of the raw data to the 3D visualization.

Abstract:
Information about the distribution of income is communicated by tabulation and statistics (e.g., the Gini coefficient). These can be difficult to understand and often require expert knowledge. Our goal is to provide a novel, eye-catching visual display of the income distribution in the United States that conveys fundamental information about the evolution and current level of income inequality to a wide audience. We use IPUMS CPS data to create household income deciles adjusted for price level and household size for each of the 50 states and DC from 1976 to 2018. Plotting these data gives a 3D chart that provides a startling picture of income differences within and across states over time. The visualization is thought provoking and can be used at all levels to stimulate further investigation. 

Before getting started, we import libraries: *pandas* for data manipulation and analysis and *numpy* for scientific computing. We also mount Google Drive to Google Colab so that all of our analyses are conducted online.

In [ ]:
import pandas as pd
import numpy as np
import json

from collections import OrderedDict
from google.colab import drive

drive.mount('/content/gdrive')
in_path = 'gdrive/My Drive/Colab Notebooks/USIncomeVis/input/'
out_path = 'gdrive/My Drive/Colab Notebooks/USIncomeVis/output/'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Data for our analysis are from [IPUMS-CPS](https://cps.ipums.org/cps/). We download all available years in one data extract from CPS. Documentation on downloading and variables can be found on the IPUMS website.

**Reference:**

Sarah Flood, Miriam King, Renae Rodgers, Steven Ruggles and J. Robert Warren. Integrated Public Use Microdata Series, Current Population Survey: Version 6.0 [dataset]. Minneapolis, MN: IPUMS, 2018.
https://doi.org/10.18128/D030.V6.0

For IPUMS-CPS, all selected samples are ASEC samples. Although IPUMS CPS has data back to 1962, geographic location (STATEFIP) is only available since 1977:
"STATEFIP is comparable for 1963-1967 and 1977 onward, years in which each state and the District of Columbia were separately identified. In the remaining years, two or more states share the same code, and these groupings change over time. In 1962, 8 states cannot be separately identified. In 1968-1972, 32 states cannot be separately identified, and in 1973-1976, 38 states cannot be separately identified. In these years, up to 5 states share the same code."
**Reference:** https://cps.ipums.org/cps-action/variables/statefip#comparability_section 

We download ASEC samples from 1977 to 2019 as csv in a zip file, extract (~600MB), rename as "ipums-cps.csv" and place it in an accessible Google drive location.

For updating, ASEC comes out in IPUMS in October.

Years are confusing. We have to be careful. We have ASEC CPS from 1977 to 2019. The CPI99 and HHINCOME variables in a sample year is for the previous year. So, the 1977 sample has Consumr Price Index and Household Income for 1976. Thus, we compute RHHINCOME from sample year 1977 data that is actually real household income for 1976.

In [ ]:
# Import raw data
raw = pd.read_csv(in_path + "ipums-cps.csv")
raw = raw[raw.YEAR >= 1977] # This line should be here regardless if you have the data before 1977 or not. It won't hurt if you don't have the data.
raw.head(5)

        YEAR  SERIAL  MONTH  CPSID  ASECFLAG  ...  AGE  SEX  RACE  HISPAN  EDUC
135351  1977       2      3    NaN         1  ...   48    2   100       0   110
135352  1977       2      3    NaN         1  ...   15    1   100       0    32
135353  1977       3      3    NaN         1  ...   47    1   100       0   122
135354  1977       3      3    NaN         1  ...   45    2   100       0    72
135355  1977       3      3    NaN         1  ...   19    2   100       0    80

[5 rows x 19 columns]

In [ ]:
raw.describe()

               YEAR        SERIAL  ...        HISPAN          EDUC
count  7.538032e+06  7.538032e+06  ...  7.538032e+06  7.538032e+06
mean   1.999107e+03  4.315759e+04  ...  3.454306e+01  5.894529e+01
std    1.246539e+01  2.589295e+04  ...  1.126688e+02  3.983980e+01
min    1.977000e+03  1.000000e+00  ...  0.000000e+00  1.000000e+00
25%    1.988000e+03  2.111900e+04  ...  0.000000e+00  2.000000e+01
50%    2.001000e+03  4.199800e+04  ...  0.000000e+00  7.200000e+01
75%    2.010000e+03  6.314200e+04  ...  0.000000e+00  8.100000e+01
max    2.019000e+03  9.998600e+04  ...  9.020000e+02  1.250000e+02

[8 rows x 19 columns]

"The Census Bureau fielded the CPS 2014 ASEC sample using an experimental redesign. All respondents received new health insurance questions, but 3/8ths of the total sample was randomly selected to receive the redesigned income questions. The larger portion of the sample (5/8) was given the existing questions on income. The redesign attempted to address income under-reporting, in particular, retirement, pensions, annuities, and government cash-transfer programs. More accurate income reporting in turn allows for better measurement of poverty statistics."

HFLAG = 0 indicates 5/8 sample, and HFLAG = 1 indicate 3/8 sample in 2014. For the 2014 to be compatible with other data year, we select HFLAG = 0.

**Reference:** https://cps.ipums.org/cps/three_eighths.shtml).

In [ ]:
# Select data with HFLAG != 1 and then drop HFLAG
raw = raw[raw.HFLAG !=1]
raw = raw.drop(columns = ['HFLAG'])
raw.head(5)

        YEAR  SERIAL  MONTH  CPSID  ASECFLAG  ...  AGE  SEX  RACE  HISPAN  EDUC
135351  1977       2      3    NaN         1  ...   48    2   100       0   110
135352  1977       2      3    NaN         1  ...   15    1   100       0    32
135353  1977       3      3    NaN         1  ...   47    1   100       0   122
135354  1977       3      3    NaN         1  ...   45    2   100       0    72
135355  1977       3      3    NaN         1  ...   19    2   100       0    80

[5 rows x 18 columns]

We create labels for states and establish starting color scheme for the visualization.

In [ ]:
# States
statefip = list(set(raw.STATEFIP))
state_name = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
              'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
              'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
              'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
              'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
              'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
              'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
              'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
              'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
              'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

colors = ["#FF0000", "#FF0A00", "#FF1400", "#FF1E00", "#FF2800", "#FF3300", "#FF3D00",
          "#FF4700", "#FF5100", "#FF5B00", "#FF6600", "#FF7000", "#FF7A00", "#FF8400",
          "#FF8E00", "#FF9900", "#FFA300", "#FFAD00", "#FFB700", "#FFC100", "#FFCC00",
          "#FFD600", "#FFE000", "#FFEA00", "#FFF400", "#FFFF00", "#F4FF00", "#EAFF00",
          "#E0FF00", "#D6FF00", "#CCFF00", "#C1FF00", "#B7FF00", "#ADFF00", "#A3FF00",
          "#99FF00", "#8EFF00", "#84FF00", "#7AFF00", "#70FF00", "#66FF00", "#5BFF00",
          "#51FF00", "#47FF00", "#3DFF00", "#32FF00", "#28FF00", "#1EFF00", "#14FF00",
          "#0AFF00", "#00FF00"]
colors = pd.DataFrame(colors, columns = ['Color'], index = statefip)

## **Section 2. Adjusting HHINCOME**

In this analysis, we employ 2 deflators to make better comparisons: 1) Consumer Price Index (CPI) to create real dollar values of household income over time (RHHINCOME) and 2) Household size (HHSIZE) to adjust for the number of people in a household (ERHHINCOME). 

1) Because of inflation, to compare incomes over time, we need to convert nominal dollar values of HHINCOME to real values. We adjust incomes so they are all in 2018 dollars. 

2) We want to compare household incomes, but a household with two people with a total income of $100,000 is better off than a six-person household with the same income. We could just divide by the number of people in the household, but that ignores the fact that some expenses don't scale up linearly (a two-bedroom apartment is not double the rent of a one-bedroom and two people could share a car, for example). An *equivalence scale* adjusts household size. There are several options available (http://www.oecd.org/els/soc/OECD-Note-EquivalenceScales.pdf). We use the OECD scale. It is explained below.

### **2.1. Consumer Price Index**

CPI reported by IPUMS-CPS is based on 1999 dollars. We convert CPI99 to 2018 dollars by multiplying by 1.507. Remember, CPI in a given sample year is actually the CPI for the previous year.
This web page gives more explanation: https://cps.ipums.org/cps/cpi99.shtml

[HHINCOME](https://cps.ipums.org/cps-action/variables/HHINCOME#description_section) reports the total money income during the **previous calendar** year of all adult household members. "The amount should equal the sum of all household members' individual incomes as recorded in the IPUMS-CPS variable [INCTOT](https://cps.ipums.org/cps-action/variables/INCTOT#description_section). The persons included were those present in the household at the time of the survey. People who lived in the household during the previous year but were not still living there at the time of the survey are not included; household members who lived elsewhere during the previous year but had joined the household at the time of the survey are included."

HHINCOME includes sources of income like wages, salaries, and business income. It can be negative. Some of the component income sources (like [INCWAGE](https://cps.ipums.org/cps-action/variables/INCWAGE#description_section) have "disclosure avoidance measures" for individuals with high incomes.

Our income range is from the 5th to the 95th percentile so we avoid negative values and problems with correctly measuring extremely high incomes.

In [ ]:
# Generate Real HHINCOME in 2018 dollars
raw["RHHINCOME"] = np.nan
raw.RHHINCOME = raw.HHINCOME*raw.CPI99*1.507

raw.head(10)

        YEAR  SERIAL  MONTH  CPSID  ...  RACE  HISPAN  EDUC      RHHINCOME
135351  1977       2      3    NaN  ...   100       0   110   50743.704000
135352  1977       2      3    NaN  ...   100       0    32   50743.704000
135353  1977       3      3    NaN  ...   100       0   122  195517.697760
135354  1977       3      3    NaN  ...   100       0    72  195517.697760
135355  1977       3      3    NaN  ...   100       0    80  195517.697760
135356  1977       3      3    NaN  ...   100       0    50  195517.697760
135357  1977       3      3    NaN  ...   100       0     1  195517.697760
135358  1977       4      3    NaN  ...   100     902    72  102872.931744
135359  1977       4      3    NaN  ...   100       0    72  102872.931744
135360  1977       5      3    NaN  ...   100       0   121   38852.027280

[10 rows x 19 columns]

In [ ]:
raw.describe()

               YEAR        SERIAL  ...          EDUC     RHHINCOME
count  7.477891e+06  7.477891e+06  ...  7.477891e+06  7.477891e+06
mean   1.998987e+03  4.283406e+04  ...  5.889825e+01  8.583669e+04
std    1.244336e+01  2.573148e+04  ...  3.982632e+01  8.162448e+04
min    1.977000e+03  1.000000e+00  ...  1.000000e+00 -7.860026e+04
25%    1.988000e+03  2.096000e+04  ...  2.000000e+01  3.694356e+04
50%    2.001000e+03  4.165700e+04  ...  7.200000e+01  6.826866e+04
75%    2.010000e+03  6.264400e+04  ...  8.100000e+01  1.104051e+05
max    2.019000e+03  9.998600e+04  ...  1.250000e+02  3.451328e+06

[8 rows x 19 columns]

### **2.2. Household Size**

Since our unit of analysis is household, we initialize a new dataframe (hhsize, or household size) and a new variable (ISIZE, or individual size) to account for the different in household size. For household $j$ in the sample with $n$ members,

$$ HHSIZE_j = \sum_{i = 1}^{n} ISIZE_{n} $$

Each member in the household contributes to the household size depending on age. Specifically:
* Household head (PERNUM = 1): ISIZE = 1 unit.
* Adult (PERNUM $\neq$ 1 and AGE > 16): ISIZE = 0.7 unit.
* Child (PERNUM $\neq$ 1 and AGE $\leq$ 16): ISIZE = 0.5 unit.

As mentioned previously, this is the OECD scale. Here is another reference.

**Reference:**

"The OECD scale assigns a weight of 1.0 to the first adult, 0.7 to each additional adult, and 0.5 to each child. In the PSID, a child is a family member age 17 or younger. In the CPS and the CEX, we define a child as age 16 or younger. The original OECD definition is age 13 or younger."

Footnote 32, page 27, "Unequal We Stand: An Empirical Analysis of Economic Inequality in the United States, 1967—2006"
Jonathan Heathcote, Fabrizio Perri, and Giovanni L. Violante
https://ideas.repec.org/c/red/ccodes/09-214.html

In [ ]:
# Generate size
raw["ISIZE"] = np.nan

raw.loc[raw["PERNUM"] == 1, "ISIZE"] = 1
raw.loc[(raw["PERNUM"] != 1) & (raw["AGE"] > 16), "ISIZE"] = 0.7
raw.loc[(raw["PERNUM"] != 1) & (raw["AGE"] <= 16), "ISIZE"] = 0.5

raw.head(5)

        YEAR  SERIAL  MONTH  CPSID  ...  HISPAN  EDUC     RHHINCOME  ISIZE
135351  1977       2      3    NaN  ...       0   110   50743.70400    1.0
135352  1977       2      3    NaN  ...       0    32   50743.70400    0.5
135353  1977       3      3    NaN  ...       0   122  195517.69776    1.0
135354  1977       3      3    NaN  ...       0    72  195517.69776    0.7
135355  1977       3      3    NaN  ...       0    80  195517.69776    0.7

[5 rows x 20 columns]

To calculate household size computationally efficiently (i.e., to compute household size without having to iterate through nearly 8 million lines of data), we create a new variable called HHID (household ID) by assigning a unique number to each household. With HHID, we can group each household easily.

In [ ]:
# Generate household ID
raw["HHID"] = np.nan
length = sum(raw.loc[raw['PERNUM'] == 1, 'PERNUM'])
raw.loc[raw['PERNUM'] == 1, 'HHID'] = np.arange(length)
raw = raw.fillna(method='pad')

raw.head(10)

        YEAR  SERIAL  MONTH  CPSID  ...  EDUC      RHHINCOME  ISIZE  HHID
135351  1977       2      3    NaN  ...   110   50743.704000    1.0   0.0
135352  1977       2      3    NaN  ...    32   50743.704000    0.5   0.0
135353  1977       3      3    NaN  ...   122  195517.697760    1.0   1.0
135354  1977       3      3    NaN  ...    72  195517.697760    0.7   1.0
135355  1977       3      3    NaN  ...    80  195517.697760    0.7   1.0
135356  1977       3      3    NaN  ...    50  195517.697760    0.5   1.0
135357  1977       3      3    NaN  ...     1  195517.697760    0.5   1.0
135358  1977       4      3    NaN  ...    72  102872.931744    1.0   2.0
135359  1977       4      3    NaN  ...    72  102872.931744    0.7   2.0
135360  1977       5      3    NaN  ...   121   38852.027280    1.0   3.0

[10 rows x 21 columns]

We then compute the household size for each household ID by taking the sum of all individual sizes in the household. After that, we merge HHSIZE with the raw dataset and drop PERNUM since we no longer need it.

In [ ]:
# Generate effective size
hhsize = raw.groupby(['HHID'])['ISIZE'].agg('sum').reset_index()

# Merge effective size with raw
raw = pd.merge(raw, hhsize, on = ["HHID"])

# Rename 'sizes'
raw = raw.rename(columns={'ISIZE_x': 'ISIZE', 'ISIZE_y': 'HHSIZE'})

# Eliminate observations that has PERNUM != 1
raw = raw[raw.PERNUM == 1]

raw.head(50)

     YEAR  SERIAL  MONTH  CPSID  ...      RHHINCOME  ISIZE  HHID  HHSIZE
0    1977       2      3    NaN  ...   50743.704000    1.0   0.0     1.5
2    1977       3      3    NaN  ...  195517.697760    1.0   1.0     3.4
7    1977       4      3    NaN  ...  102872.931744    1.0   2.0     1.7
9    1977       5      3    NaN  ...   38852.027280    1.0   3.0     1.5
11   1977       7      3    NaN  ...   59233.346304    1.0   4.0     2.7
15   1977       8      3    NaN  ...   52080.690288    1.0   5.0     1.7
17   1977       9      3    NaN  ...    8586.717216    1.0   6.0     1.0
18   1977      10      3    NaN  ...   17332.284288    1.0   7.0     1.0
19   1977      11      3    NaN  ...   14345.024496    1.0   8.0     1.0
20   1977      13      3    NaN  ...   75365.431680    1.0   9.0     2.7
24   1977      14      3    NaN  ...   55610.687088    1.0  10.0     1.7
26   1977      15      3    NaN  ...   90420.868032    1.0  11.0     1.7
28   1977      16      3    NaN  ...    9213.291648    1.0  12.0     1.5
30   1977      17      3    NaN  ...   24767.340048    1.0  13.0     1.7
32   1977      18      3    NaN  ...  170587.095360    1.0  14.0     1.7
34   1977      23      3    NaN  ...   46331.208000    1.0  15.0     1.7
36   1977      24      3    NaN  ...   33336.407280    1.0  16.0     1.0
37   1977      25      3    NaN  ...    5008.182960    1.0  17.0     2.7
41   1977      26      3    NaN  ...   58244.947200    1.0  18.0     1.7
43   1977      27      3    NaN  ...  125103.086592    1.0  19.0     3.4
48   1977      30      3    NaN  ...   99806.247024    1.0  20.0     3.7
54   1977      31      3    NaN  ...   36182.467200    1.0  21.0     2.2
57   1977      32      3    NaN  ...   34876.368384    1.0  22.0     3.2
62   1977      39      3    NaN  ...  178684.025520    1.0  23.0     3.6
67   1977      40      3    NaN  ...   50606.916624    1.0  24.0     1.7
69   1977      41      3    NaN  ...    9102.979248    1.0  25.0     1.0
70   1977      43      3    NaN  ...   50831.953920    1.0  26.0     2.7
74   1977      45      3    NaN  ...   70335.186240    1.0  27.0     2.7
78   1977      47      3    NaN  ...   19516.469808    1.0  28.0     1.0
79   1977      48      3    NaN  ...   70833.798288    1.0  29.0     2.7
83   1977      50      3    NaN  ...   12319.688832    1.0  30.0     1.7
85   1977      51      3    NaN  ...   43065.960960    1.0  31.0     1.7
87   1977      53      3    NaN  ...   28045.824576    1.0  32.0     1.7
89   1977      54      3    NaN  ...   46110.583200    1.0  33.0     1.0
90   1977      55      3    NaN  ...   71614.810080    1.0  34.0     2.7
94   1977      56      3    NaN  ...   63972.367008    1.0  35.0     2.7
98   1977      57      3    NaN  ...  100979.970960    1.0  36.0     3.7
104  1977      58      3    NaN  ...   83497.661808    1.0  37.0     2.7
108  1977      59      3    NaN  ...  101487.408000    1.0  38.0     3.2
113  1977      60      3    NaN  ...   75925.818672    1.0  39.0     2.9
117  1977      61      3    NaN  ...   72069.297168    1.0  40.0     3.1
121  1977      62      3    NaN  ...   56356.398912    1.0  41.0     1.7
123  1977      63      3    NaN  ...   88382.294880    1.0  42.0     1.7
125  1977      65      3    NaN  ...   64435.679088    1.0  43.0     3.6
130  1977      66      3    NaN  ...   44133.784992    1.0  44.0     1.0
131  1977      67      3    NaN  ...   42637.948848    1.0  45.0     1.7
133  1977      68      3    NaN  ...  108918.051264    1.0  46.0     3.1
137  1977      69      3    NaN  ...   71341.235328    1.0  47.0     2.9
141  1977      70      3    NaN  ...    6490.781616    1.0  48.0     1.0
142  1977      71      3    NaN  ...   37762.140768    1.0  49.0     3.1

[50 rows x 22 columns]

Now we can adjust RHHINCOME by HHSIZE to get *equivalized real household income*, ERHHINCOME. 

This is real household income per equivalent person.

In [ ]:
# Generate Real HHINCOME in 2018 dollars
raw["ERHHINCOME"] = np.nan
raw.ERHHINCOME = raw.RHHINCOME/raw.HHSIZE
raw.head(10)

    YEAR  SERIAL  MONTH  CPSID  ...  ISIZE  HHID  HHSIZE    ERHHINCOME
0   1977       2      3    NaN  ...    1.0   0.0     1.5  33829.136000
2   1977       3      3    NaN  ...    1.0   1.0     3.4  57505.205224
7   1977       4      3    NaN  ...    1.0   2.0     1.7  60513.489261
9   1977       5      3    NaN  ...    1.0   3.0     1.5  25901.351520
11  1977       7      3    NaN  ...    1.0   4.0     2.7  21938.276409
15  1977       8      3    NaN  ...    1.0   5.0     1.7  30635.700169
17  1977       9      3    NaN  ...    1.0   6.0     1.0   8586.717216
18  1977      10      3    NaN  ...    1.0   7.0     1.0  17332.284288
19  1977      11      3    NaN  ...    1.0   8.0     1.0  14345.024496
20  1977      13      3    NaN  ...    1.0   9.0     2.7  27913.122844

[10 rows x 23 columns]

In [ ]:
raw.describe()

               YEAR        SERIAL  ...        HHSIZE    ERHHINCOME
count  2.763219e+06  2.763219e+06  ...  2.763219e+06  2.763219e+06
mean   1.999055e+03  4.224290e+04  ...  2.047945e+00  3.886370e+04
std    1.239818e+01  2.545720e+04  ...  8.887119e-01  3.936242e+04
min    1.977000e+03  1.000000e+00  ...  1.000000e+00 -4.386190e+04
25%    1.988000e+03  2.068400e+04  ...  1.500000e+00  1.658307e+04
50%    2.001000e+03  4.097800e+04  ...  1.700000e+00  2.971118e+04
75%    2.010000e+03  6.175500e+04  ...  2.700000e+00  4.909131e+04
max    2.019000e+03  9.998600e+04  ...  1.610000e+01  2.054233e+06

[8 rows x 23 columns]

## **Section 3. Data Prep for Visualizing**

### **3.1 Preparation**

Our goal is prepare the data for rendering our final graph in JavaScript format. We generate percentiles from 5 to 95 is steps of 10 and also the median. The code below can also produce increments of 1 percentile,  but then amCharts (our visualizer) is extremely slow.

In [ ]:
# Create decile and percentile arrays
decile = np.arange(0.05, 1.05, 0.1) # 10
decile = np.insert(arr = decile, obj = 5, values = 0.5) # 11

percentile = np.arange(0.02, 1, 0.01) # 98

# Create decile and percentile name
decileName = ['5p', '15p', '25p', '35p', '45p', '50p', '55p', '65p', '75p', '85p', '95p']
percentileName = ['2p', '3p', '4p', '5p', '6p', '7p', '8p', '9p', '10p', '11p',
                  '12p', '13p', '14p', '15p', '16p', '17p', '18p', '19p', '20p',
                  '21p', '22p', '23p', '24p', '25p', '26p', '27p', '28p', '29p',
                  '30p', '31p', '32p', '33p', '34p', '35p', '36p', '37p', '38p',
                  '39p', '40p', '41p', '42p', '43p', '44p', '45p', '46p', '47p',
                  '48p', '49p', '50p', '51p', '52p', '53p', '54p', '55p', '56p',
                  '57p', '58p', '59p', '60p', '61p', '62p', '63p', '64p', '65p',
                  '66p', '67p', '68p', '69p', '70p', '71p', '72p', '73p', '74p',
                  '75p', '76p', '77p', '78p', '79p', '80p', '81p', '82p', '83p',
                  '84p', '85p', '86p', '87p', '88p', '89p', '90p', '91p', '92p',
                  '93p', '94p', '95p', '96p', '97p', '98p', '99p']

# Open HTML environment
html1_d_1year = open(in_path + 'html1_d_1year.txt', 'r')
html1_p_1year = open(in_path + 'html1_p_1year.txt', 'r')
html2 = open(in_path + 'html2.txt', 'r')

Since we allow the user to control the states being labeled, we do not label any of them.

In [ ]:
# Labels 
label_list = ['']

We create ```state_name``` and ```state_label``` dataframe.

In [ ]:
# Create state_Name and state_label dataframes
notLabelList = list(set(state_name) - set(label_list))
notLabelDict = dict.fromkeys(notLabelList , '')
state_name = pd.DataFrame(data = state_name, index = statefip, columns = ['State'])
state_label = state_name.replace(to_replace = notLabelDict)
state_label = state_label.rename(columns={'State': 'Label'})

We create CUMWTH (cummulated household weight) and PERCENT (percentile for each household) as a way to rank income of each household

In [ ]:
# Generate cumulative weight and percentage
raw["CUMWTH"] = np.nan
raw["PERCENTH"] = np.nan

In [ ]:
raw.describe()

               YEAR        SERIAL      MONTH  ...    ERHHINCOME  CUMWTH  PERCENTH
count  2.763219e+06  2.763219e+06  2763219.0  ...  2.763219e+06     0.0       0.0
mean   1.999055e+03  4.224290e+04        3.0  ...  3.886370e+04     NaN       NaN
std    1.239818e+01  2.545720e+04        0.0  ...  3.936242e+04     NaN       NaN
min    1.977000e+03  1.000000e+00        3.0  ... -4.386190e+04     NaN       NaN
25%    1.988000e+03  2.068400e+04        3.0  ...  1.658307e+04     NaN       NaN
50%    2.001000e+03  4.097800e+04        3.0  ...  2.971118e+04     NaN       NaN
75%    2.010000e+03  6.175500e+04        3.0  ...  4.909131e+04     NaN       NaN
max    2.019000e+03  9.998600e+04        3.0  ...  2.054233e+06     NaN       NaN

[8 rows x 25 columns]

### **3.2 HHINCOME k-iles**

Code below is set for deciles, but can be changed for percentiles. Also, we need an option if we add one state per graph.

In [ ]:
# Choose k: decile (11) or percentile (98)
k = 11

In [ ]:
if (k == 11):
  k_ile = decile
  kName = decileName

if (k == 98):
  k_ile = percentile
  kName = percentileName

A long chunk of code must run together as a whole to render all graphs for sample years from 1977 to 2019. Since it is so long, it is hard to understand. For the purpose of demostration and explanation, we walk through 1977 below to illustrate the mechanism behind the analysis. We do so by breaking the first for loop so that we render 1 graph for 1 state at a time.

For this example, we will only work with YEAR = 1977

In [ ]:
  # Generate year dataframe -- can enter any year from 1977 to 2019
  year = raw[raw.YEAR == 1977]
  y = 1977

After that, we generate a result grid, which have the k-iles for each state at a year.

In [ ]:
  # Generate result grid, decile-column
  result = pd.DataFrame(data = None, index = kName, columns = statefip)
  result.head(5)

      1    2    4    5    6    8    9   ...   49   50   51   53   54   55   56
5p   NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
15p  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
25p  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
35p  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
45p  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 51 columns]

For every state, we sort the adjusted household income ascendingly. We then calculate the household cumulated weight (CUMWTH) and the household percentile (PERCENTH). For household $j$th in the RHHINCOME-sorted dataframe with $k$ households:

$$CUMWTH_j = \sum_{i=0}^{j} ASECWTH_i $$

$$PERCENTH_j = \frac{CUMWTH_j}{\sum_{i=0}^{k} ASECWTH_i}$$

To calculate RHHINCOME at each k_ile $k$ for state $s$, we select a series of RHHINCOME that has percentile under or equal to $k$ (set S):
$$S_k = \{RHHINCOME_s | PERCENTH_s \leq k \} $$

RHHINCOME at k_ile $k$ for state s is the maximum value of set $S$: 

$$ RHHINCOME_{k, s} = max(S_k) $$

In [ ]:
  # Iterate through each state
  c = 0
  for i in statefip:
    # Generate state dataframe
    state = year[year.STATEFIP == i]
    state = state.reset_index(drop = True)

    # Sort state dataframe by RHHINCOME
    state = state.sort_values('RHHINCOME')
    
    # Calculate cumulated weight and Percentage
    state.CUMWTH = state.ASECWTH.cumsum()
    state.PERCENTH = state.CUMWTH/(state.ASECWTH.sum())
    
    # Calculate decile
    r = 0
    for k in k_ile:
      result.iloc[r,c] = state.loc[state['PERCENTH'] <= k, 'RHHINCOME'].max()
      r = r + 1
    c = c + 1

The result table is presented as below:

In [ ]:
  result

          1        2        4        5   ...       53       54       55       56
5p   8039.57  12178.5  8229.31  8458.75  ...  8824.99   9747.2    12708  9707.49
15p    15201  34029.2  18183.9  13237.5  ...  18395.7    18859  23165.6  21797.7
25p    23651  48537.5  26916.2  19891.5  ...    28240  26188.2  34099.8  32211.2
35p  32224.5  66187.4  38318.1    26475  ...  37709.2    35300  45682.6  42598.2
45p  42721.8  81631.2  47434.3  34417.5  ...  50302.5  44336.8  57874.3    52950
50p  48272.7  88964.7  52839.6  37422.4  ...    56277  49336.1  64113.6  57362.4
55p    52950  98839.9  57362.4  41106.8  ...  62458.9  55248.9  69743.9  62370.6
65p  63981.2   117002  68609.9  49742.1  ...  75365.4  67511.2  79464.6  73816.6
75p  77262.8   139589  82513.7  62414.8  ...  89917.8    80431  92635.9  88249.9
85p  94859.8   174735  98853.1  76243.5  ...   111416  95945.3   110705   102683
95p   131934   223122   152897   115519  ...   148860   128845   150585   151874

[11 rows x 51 columns]

We transpose the result dataframe so that we can merge them with codeFirst_oneYear and codeThird_oneYear

In [ ]:
  # Transpose result table: column-decile
  result = result.T
  result.head(10)

         5p      15p      25p      35p  ...      65p      75p      85p     95p
1   8039.57    15201    23651  32224.5  ...  63981.2  77262.8  94859.8  131934
2   12178.5  34029.2  48537.5  66187.4  ...   117002   139589   174735  223122
4   8229.31  18183.9  26916.2  38318.1  ...  68609.9  82513.7  98853.1  152897
5   8458.75  13237.5  19891.5    26475  ...  49742.1  62414.8  76243.5  115519
6   12160.8  20015.1  30887.5  40330.2  ...  77218.7  92212.3   114165  166192
8    9641.3  18766.3  29184.2  40550.8  ...  75453.7    90037   110259  144178
9   11031.2  18973.7  27216.3  38931.5  ...  81198.8  93986.2   114879  163527
10  11635.8  23580.4    36712  45669.3  ...  77659.9  91413.7   111839  144496
11  8599.95    17650  29762.3  39972.8  ...  67069.9  83378.5   113935  172087
12  8824.99    16741  24533.5  32184.7  ...  62127.9  73781.3  90385.6  135464

[10 rows x 11 columns]

We sort the result by median (50p) and concatenate it with ```state_name```, ```state_label```, and ```colors```.

In [ ]:
  # Sort the result by median
  result = result.sort_values(by = ['50p'], ascending = True)
  colors1977 = pd.DataFrame(data = list(colors.Color), index = result.index, columns=['Color'])
  result = pd.concat([state_name, result, state_label, colors1977], axis = 1)
  result.head(5)

        State       5p      15p      25p  ...      85p     95p Label    Color
1     Alabama  8039.57    15201    23651  ...  94859.8  131934        #FF5100
2      Alaska  12178.5  34029.2  48537.5  ...   174735  223122        #00FF00
4     Arizona  8229.31  18183.9  26916.2  ...  98853.1  152897        #FFCC00
5    Arkansas  8458.75  13237.5  19891.5  ...  76243.5  115519        #FF0000
6  California  12160.8  20015.1  30887.5  ...   114165  166192        #A3FF00

[5 rows x 14 columns]

In [ ]:
result

                   State       5p      15p  ...     95p Label    Color
1                Alabama  8039.57    15201  ...  131934        #FF5100
2                 Alaska  12178.5  34029.2  ...  223122        #00FF00
4                Arizona  8229.31  18183.9  ...  152897        #FFCC00
5               Arkansas  8458.75  13237.5  ...  115519        #FF0000
6             California  12160.8  20015.1  ...  166192        #A3FF00
8               Colorado   9641.3  18766.3  ...  144178        #7AFF00
9            Connecticut  11031.2  18973.7  ...  163527        #8EFF00
10              Delaware  11635.8  23580.4  ...  144496        #47FF00
11  District of Columbia  8599.95    17650  ...  172087        #FF7A00
12               Florida  8824.99    16741  ...  135464        #FF3300
13               Georgia  7836.59  15708.5  ...  140454        #FF5B00
15                Hawaii  13237.5    30005  ...  172414        #0AFF00
16                 Idaho  9716.32  16114.4  ...  138839        #EAFF00
17              Illinois  11375.4  22062.5  ...  173949        #1EFF00
18               Indiana  10903.3  21290.3  ...  140392        #F4FF00
19                  Iowa  9791.33  20050.4  ...  147377        #99FF00
20                Kansas  8648.49  17142.5  ...  147938        #FFF400
21              Kentucky  9689.84  16330.6  ...  132375        #FFAD00
22             Louisiana  5824.49  11485.7  ...  132613        #FF2800
23                 Maine  9173.58    16035  ...  121961        #FF6600
24              Maryland  10148.7  23871.6  ...  191238        #14FF00
25         Massachusetts  12178.5    20549  ...  149831        #66FF00
26              Michigan  11768.1    22870  ...  163351        #28FF00
27             Minnesota  11340.1  20465.2  ...  160399        #70FF00
28           Mississippi  6777.59  13237.5  ...  114138        #FF0A00
29              Missouri  9694.25  17786.8  ...  154777        #FF9900
30               Montana  8957.37  18766.3  ...  132772        #D6FF00
31              Nebraska  9420.68  18585.4  ...  141151        #FFC100
32                Nevada  11472.5  22062.5  ...  153753        #51FF00
33         New Hampshire  11260.7  22503.7  ...  152761        #CCFF00
34            New Jersey  12747.7  23783.4  ...  170878        #3DFF00
35            New Mexico  8255.78  16255.6  ...  139603        #FF8400
36              New York  10810.6  18091.2  ...  158850        #FFFF00
37        North Carolina  8842.64    15885  ...  128227        #FF3D00
38          North Dakota  9336.84  17755.9  ...  145789        #FFB700
39                  Ohio  10832.7  21691.8  ...  146671        #84FF00
40              Oklahoma  8789.69  14909.8  ...  140812        #FF4700
41                Oregon  9875.17  18585.4  ...  144456        #FFD600
42          Pennsylvania  10607.6  18973.7  ...  137851        #E0FF00
44          Rhode Island  11406.3  18042.7  ...  136126        #FFE000
45        South Carolina  8471.99  17164.6  ...  136509        #FFA300
46          South Dakota  5736.24  15002.5  ...  131492        #FF1E00
47             Tennessee  7942.49  13952.3  ...  127720        #FF1400
48                 Texas  8877.94  17111.7  ...  154327        #FFEA00
49                  Utah    10590  21400.6  ...  138729        #B7FF00
50               Vermont  10757.7  20518.1  ...  126930        #FF8E00
51              Virginia   9817.8  21369.7  ...  169881        #5BFF00
53            Washington  8824.99  18395.7  ...  148860        #C1FF00
54         West Virginia   9747.2    18859  ...  128845        #FF7000
55             Wisconsin    12708  23165.6  ...  150585        #32FF00
56               Wyoming  9707.49  21797.7  ...  151874        #ADFF00

[51 rows x 14 columns]

### 3.3 Population

We compute an estimate of the number of households in the population (POP) and then normalize it for each state in a new dataframe (NORMPOP). 

For state $s$ that has $k$ households in year $y$, we could make each state's population relative to the smallest state, like this:

$$POP_s = \sum_{i=0}^{k} ASECWTH_i$$

$$NORMPOP_s = \frac{POP_s}{min(POP_s)}$$

In [ ]:
  # Compute state population and normalized state population
  pop = pd.DataFrame(index = statefip)
  pop["POP"] = np.nan
  pop.POP = year.groupby(['STATEFIP'])['ASECWT'].agg('sum')
  pop["NORMPOP"] = np.nan
  pop.NORMPOP = round(pop.POP/(pop.POP.min()))
  pop

           POP  NORMPOP
1   1301713.96     11.0
2    116622.28      1.0
4    789233.03      7.0
5    687999.56      6.0
6   7934076.94     68.0
8   1046900.30      9.0
9   1078354.27      9.0
10   188215.87      2.0
11   252873.12      2.0
12  3079626.13     26.0
13  1646542.31     14.0
15   286585.80      2.0
16   282044.70      2.0
17  3915456.49     34.0
18  1781165.48     15.0
19   991427.56      9.0
20   782210.72      7.0
21  1123419.10     10.0
22  1284110.53     11.0
23   331823.64      3.0
24  1446068.97     12.0
25  1893917.62     16.0
26  2929777.43     25.0
27  1337880.34     11.0
28   813098.71      7.0
29  1741345.34     15.0
30   270803.72      2.0
31   548733.94      5.0
32   233338.66      2.0
33   290013.40      2.0
34  2513924.95     22.0
35   378998.19      3.0
36  6244034.71     54.0
37  1829490.61     16.0
38   220404.73      2.0
39  3693843.29     32.0
40  1026980.76      9.0
41   871517.32      7.0
42  4125870.53     35.0
44   349416.84      3.0
45   978096.62      8.0
46   230608.26      2.0
47  1528857.28     13.0
48  4150015.43     36.0
49   390802.91      3.0
50   159205.28      1.0
51  1836619.97     16.0
53  1288493.98     11.0
54   614573.19      5.0
55  1530435.71     13.0
56   151158.71      1.0

However, this turns out to produce an ugly graph (with extremely thin slices for the smallest states) and takes a long time to render in a browser.

To improve visibility and rendering, we normalize to the 10th percentile which makes about 1/4 of the states have a width of 1 in the graph. California (the most populous state) has a width 34 times the smallest states (in actuality it should be 68 times).

In [ ]:
pop.NORMPOP = round(pop.POP/(np.percentile(pop.POP,10)))
pop

           POP  NORMPOP
1   1301713.96      6.0
2    116622.28      1.0
4    789233.03      3.0
5    687999.56      3.0
6   7934076.94     34.0
8   1046900.30      5.0
9   1078354.27      5.0
10   188215.87      1.0
11   252873.12      1.0
12  3079626.13     13.0
13  1646542.31      7.0
15   286585.80      1.0
16   282044.70      1.0
17  3915456.49     17.0
18  1781165.48      8.0
19   991427.56      4.0
20   782210.72      3.0
21  1123419.10      5.0
22  1284110.53      6.0
23   331823.64      1.0
24  1446068.97      6.0
25  1893917.62      8.0
26  2929777.43     13.0
27  1337880.34      6.0
28   813098.71      4.0
29  1741345.34      8.0
30   270803.72      1.0
31   548733.94      2.0
32   233338.66      1.0
33   290013.40      1.0
34  2513924.95     11.0
35   378998.19      2.0
36  6244034.71     27.0
37  1829490.61      8.0
38   220404.73      1.0
39  3693843.29     16.0
40  1026980.76      4.0
41   871517.32      4.0
42  4125870.53     18.0
44   349416.84      2.0
45   978096.62      4.0
46   230608.26      1.0
47  1528857.28      7.0
48  4150015.43     18.0
49   390802.91      2.0
50   159205.28      1.0
51  1836619.97      8.0
53  1288493.98      6.0
54   614573.19      3.0
55  1530435.71      7.0
56   151158.71      1.0

In [ ]:
  # Replicate each state's dataline with its respective replication number
  for i in statefip:
    rep = pop.loc[i,'NORMPOP'] - 1
    rep = int(rep)
    line = pd.DataFrame(result.loc[i]).T
    line.loc[i, 'Label'] = ''
    for i in range(0,rep): result = pd.concat([result, line])
  result.head(50)

                   State       5p      15p  ...     95p Label    Color
1                Alabama  8039.57    15201  ...  131934        #FF5100
2                 Alaska  12178.5  34029.2  ...  223122        #00FF00
4                Arizona  8229.31  18183.9  ...  152897        #FFCC00
5               Arkansas  8458.75  13237.5  ...  115519        #FF0000
6             California  12160.8  20015.1  ...  166192        #A3FF00
8               Colorado   9641.3  18766.3  ...  144178        #7AFF00
9            Connecticut  11031.2  18973.7  ...  163527        #8EFF00
10              Delaware  11635.8  23580.4  ...  144496        #47FF00
11  District of Columbia  8599.95    17650  ...  172087        #FF7A00
12               Florida  8824.99    16741  ...  135464        #FF3300
13               Georgia  7836.59  15708.5  ...  140454        #FF5B00
15                Hawaii  13237.5    30005  ...  172414        #0AFF00
16                 Idaho  9716.32  16114.4  ...  138839        #EAFF00
17              Illinois  11375.4  22062.5  ...  173949        #1EFF00
18               Indiana  10903.3  21290.3  ...  140392        #F4FF00
19                  Iowa  9791.33  20050.4  ...  147377        #99FF00
20                Kansas  8648.49  17142.5  ...  147938        #FFF400
21              Kentucky  9689.84  16330.6  ...  132375        #FFAD00
22             Louisiana  5824.49  11485.7  ...  132613        #FF2800
23                 Maine  9173.58    16035  ...  121961        #FF6600
24              Maryland  10148.7  23871.6  ...  191238        #14FF00
25         Massachusetts  12178.5    20549  ...  149831        #66FF00
26              Michigan  11768.1    22870  ...  163351        #28FF00
27             Minnesota  11340.1  20465.2  ...  160399        #70FF00
28           Mississippi  6777.59  13237.5  ...  114138        #FF0A00
29              Missouri  9694.25  17786.8  ...  154777        #FF9900
30               Montana  8957.37  18766.3  ...  132772        #D6FF00
31              Nebraska  9420.68  18585.4  ...  141151        #FFC100
32                Nevada  11472.5  22062.5  ...  153753        #51FF00
33         New Hampshire  11260.7  22503.7  ...  152761        #CCFF00
34            New Jersey  12747.7  23783.4  ...  170878        #3DFF00
35            New Mexico  8255.78  16255.6  ...  139603        #FF8400
36              New York  10810.6  18091.2  ...  158850        #FFFF00
37        North Carolina  8842.64    15885  ...  128227        #FF3D00
38          North Dakota  9336.84  17755.9  ...  145789        #FFB700
39                  Ohio  10832.7  21691.8  ...  146671        #84FF00
40              Oklahoma  8789.69  14909.8  ...  140812        #FF4700
41                Oregon  9875.17  18585.4  ...  144456        #FFD600
42          Pennsylvania  10607.6  18973.7  ...  137851        #E0FF00
44          Rhode Island  11406.3  18042.7  ...  136126        #FFE000
45        South Carolina  8471.99  17164.6  ...  136509        #FFA300
46          South Dakota  5736.24  15002.5  ...  131492        #FF1E00
47             Tennessee  7942.49  13952.3  ...  127720        #FF1400
48                 Texas  8877.94  17111.7  ...  154327        #FFEA00
49                  Utah    10590  21400.6  ...  138729        #B7FF00
50               Vermont  10757.7  20518.1  ...  126930        #FF8E00
51              Virginia   9817.8  21369.7  ...  169881        #5BFF00
53            Washington  8824.99  18395.7  ...  148860        #C1FF00
54         West Virginia   9747.2    18859  ...  128845        #FF7000
55             Wisconsin    12708  23165.6  ...  150585        #32FF00

[50 rows x 14 columns]

Sort the result dataframe by the median to get the 3D visualization to plot the states in ascending order of household income.

In [ ]:
  # Sort the result by median
  result = result.sort_values(by = ['50p', 'State'], ascending = True)
  result

          State       5p      15p      25p  ...      85p     95p Label    Color
5      Arkansas  8458.75  13237.5  19891.5  ...  76243.5  115519        #FF0000
5      Arkansas  8458.75  13237.5  19891.5  ...  76243.5  115519        #FF0000
5      Arkansas  8458.75  13237.5  19891.5  ...  76243.5  115519        #FF0000
28  Mississippi  6777.59  13237.5  18532.5  ...  79424.9  114138        #FF0A00
28  Mississippi  6777.59  13237.5  18532.5  ...  79424.9  114138        #FF0A00
..          ...      ...      ...      ...  ...      ...     ...   ...      ...
24     Maryland  10148.7  23871.6  37859.2  ...   133257  191238        #14FF00
24     Maryland  10148.7  23871.6  37859.2  ...   133257  191238        #14FF00
24     Maryland  10148.7  23871.6  37859.2  ...   133257  191238        #14FF00
15       Hawaii  13237.5    30005  43118.9  ...   132256  172414        #0AFF00
2        Alaska  12178.5  34029.2  48537.5  ...   174735  223122        #00FF00

[326 rows x 14 columns]

In [ ]:
result.reset_index(drop = True, inplace = True)
result

           State       5p      15p      25p  ...      85p     95p Label    Color
0       Arkansas  8458.75  13237.5  19891.5  ...  76243.5  115519        #FF0000
1       Arkansas  8458.75  13237.5  19891.5  ...  76243.5  115519        #FF0000
2       Arkansas  8458.75  13237.5  19891.5  ...  76243.5  115519        #FF0000
3    Mississippi  6777.59  13237.5  18532.5  ...  79424.9  114138        #FF0A00
4    Mississippi  6777.59  13237.5  18532.5  ...  79424.9  114138        #FF0A00
..           ...      ...      ...      ...  ...      ...     ...   ...      ...
321     Maryland  10148.7  23871.6  37859.2  ...   133257  191238        #14FF00
322     Maryland  10148.7  23871.6  37859.2  ...   133257  191238        #14FF00
323     Maryland  10148.7  23871.6  37859.2  ...   133257  191238        #14FF00
324       Hawaii  13237.5    30005  43118.9  ...   132256  172414        #0AFF00
325       Alaska  12178.5  34029.2  48537.5  ...   174735  223122        #00FF00

[326 rows x 14 columns]

The code below is used when we render the graph in amCharts. It enables the user to add a label to the middle slice in the graph.

In [ ]:
result["Middle"] = np.nan
counter = 0
for state in result.State.drop_duplicates():
  temp = result[result.State == state]
  temp_size = len(temp.index)
  middle = (temp_size // 2)
  counter = counter + middle
  result.loc[counter, 'Middle'] = 1
  counter = counter - middle + temp_size

In [ ]:
pd.set_option('display.max_rows', 400)
result.head(400)

                    State       5p      15p  ... Label    Color Middle
0                Arkansas  8458.75  13237.5  ...        #FF0000    NaN
1                Arkansas  8458.75  13237.5  ...        #FF0000    1.0
2                Arkansas  8458.75  13237.5  ...        #FF0000    NaN
3             Mississippi  6777.59  13237.5  ...        #FF0A00    NaN
4             Mississippi  6777.59  13237.5  ...        #FF0A00    NaN
5             Mississippi  6777.59  13237.5  ...        #FF0A00    1.0
6             Mississippi  6777.59  13237.5  ...        #FF0A00    NaN
7               Tennessee  7942.49  13952.3  ...        #FF1400    NaN
8               Tennessee  7942.49  13952.3  ...        #FF1400    NaN
9               Tennessee  7942.49  13952.3  ...        #FF1400    NaN
10              Tennessee  7942.49  13952.3  ...        #FF1400    1.0
11              Tennessee  7942.49  13952.3  ...        #FF1400    NaN
12              Tennessee  7942.49  13952.3  ...        #FF1400    NaN
13              Tennessee  7942.49  13952.3  ...        #FF1400    NaN
14           South Dakota  5736.24  15002.5  ...        #FF1E00    1.0
15              Louisiana  5824.49  11485.7  ...        #FF2800    NaN
16              Louisiana  5824.49  11485.7  ...        #FF2800    NaN
17              Louisiana  5824.49  11485.7  ...        #FF2800    NaN
18              Louisiana  5824.49  11485.7  ...        #FF2800    1.0
19              Louisiana  5824.49  11485.7  ...        #FF2800    NaN
20              Louisiana  5824.49  11485.7  ...        #FF2800    NaN
21                Florida  8824.99    16741  ...        #FF3300    NaN
22                Florida  8824.99    16741  ...        #FF3300    NaN
23                Florida  8824.99    16741  ...        #FF3300    NaN
24                Florida  8824.99    16741  ...        #FF3300    NaN
25                Florida  8824.99    16741  ...        #FF3300    NaN
26                Florida  8824.99    16741  ...        #FF3300    NaN
27                Florida  8824.99    16741  ...        #FF3300    1.0
28                Florida  8824.99    16741  ...        #FF3300    NaN
29                Florida  8824.99    16741  ...        #FF3300    NaN
30                Florida  8824.99    16741  ...        #FF3300    NaN
31                Florida  8824.99    16741  ...        #FF3300    NaN
32                Florida  8824.99    16741  ...        #FF3300    NaN
33                Florida  8824.99    16741  ...        #FF3300    NaN
34         North Carolina  8842.64    15885  ...        #FF3D00    NaN
35         North Carolina  8842.64    15885  ...        #FF3D00    NaN
36         North Carolina  8842.64    15885  ...        #FF3D00    NaN
37         North Carolina  8842.64    15885  ...        #FF3D00    NaN
38         North Carolina  8842.64    15885  ...        #FF3D00    1.0
39         North Carolina  8842.64    15885  ...        #FF3D00    NaN
40         North Carolina  8842.64    15885  ...        #FF3D00    NaN
41         North Carolina  8842.64    15885  ...        #FF3D00    NaN
42               Oklahoma  8789.69  14909.8  ...        #FF4700    NaN
43               Oklahoma  8789.69  14909.8  ...        #FF4700    NaN
44               Oklahoma  8789.69  14909.8  ...        #FF4700    1.0
45               Oklahoma  8789.69  14909.8  ...        #FF4700    NaN
46                Alabama  8039.57    15201  ...        #FF5100    NaN
47                Alabama  8039.57    15201  ...        #FF5100    NaN
48                Alabama  8039.57    15201  ...        #FF5100    NaN
49                Alabama  8039.57    15201  ...        #FF5100    1.0
50                Alabama  8039.57    15201  ...        #FF5100    NaN
51                Alabama  8039.57    15201  ...        #FF5100    NaN
52                Georgia  7836.59  15708.5  ...        #FF5B00    NaN
53                Georgia  7836.59  15708.5  ...        #FF5B00    NaN
54                Georgia  7836.59  15708.5  ...        #FF5B00    NaN
55                Georgia  7836.59  15708.5  ...        #FF5B00    1.0
56                Georgia  7836.59  15708.5  ...        #FF5B00    NaN
57                Georgia  7836.59  15708.5  ...        #FF5B00    NaN
58                Georgia  7836.59  15708.5  ...        #FF5B00    NaN
59                  Maine  9173.58    16035  ...        #FF6600    1.0
60          West Virginia   9747.2    18859  ...        #FF7000    NaN
61          West Virginia   9747.2    18859  ...        #FF7000    1.0
62          West Virginia   9747.2    18859  ...        #FF7000    NaN
63   District of Columbia  8599.95    17650  ...        #FF7A00    1.0
64             New Mexico  8255.78  16255.6  ...        #FF8400    NaN
65             New Mexico  8255.78  16255.6  ...        #FF8400    1.0
66                Vermont  10757.7  20518.1  ...        #FF8E00    1.0
67               Missouri  9694.25  17786.8  ...        #FF9900    NaN
68               Missouri  9694.25  17786.8  ...        #FF9900    NaN
69               Missouri  9694.25  17786.8  ...        #FF9900    NaN
70               Missouri  9694.25  17786.8  ...        #FF9900    NaN
71               Missouri  9694.25  17786.8  ...        #FF9900    1.0
72               Missouri  9694.25  17786.8  ...        #FF9900    NaN
73               Missouri  9694.25  17786.8  ...        #FF9900    NaN
74               Missouri  9694.25  17786.8  ...        #FF9900    NaN
75         South Carolina  8471.99  17164.6  ...        #FFA300    NaN
76         South Carolina  8471.99  17164.6  ...        #FFA300    NaN
77         South Carolina  8471.99  17164.6  ...        #FFA300    1.0
78         South Carolina  8471.99  17164.6  ...        #FFA300    NaN
79               Kentucky  9689.84  16330.6  ...        #FFAD00    NaN
80               Kentucky  9689.84  16330.6  ...        #FFAD00    NaN
81               Kentucky  9689.84  16330.6  ...        #FFAD00    1.0
82               Kentucky  9689.84  16330.6  ...        #FFAD00    NaN
83               Kentucky  9689.84  16330.6  ...        #FFAD00    NaN
84           North Dakota  9336.84  17755.9  ...        #FFB700    1.0
85               Nebraska  9420.68  18585.4  ...        #FFC100    NaN
86               Nebraska  9420.68  18585.4  ...        #FFC100    1.0
87                Arizona  8229.31  18183.9  ...        #FFCC00    NaN
88                Arizona  8229.31  18183.9  ...        #FFCC00    1.0
89                Arizona  8229.31  18183.9  ...        #FFCC00    NaN
90                 Oregon  9875.17  18585.4  ...        #FFD600    NaN
91                 Oregon  9875.17  18585.4  ...        #FFD600    NaN
92                 Oregon  9875.17  18585.4  ...        #FFD600    1.0
93                 Oregon  9875.17  18585.4  ...        #FFD600    NaN
94           Rhode Island  11406.3  18042.7  ...        #FFE000    NaN
95           Rhode Island  11406.3  18042.7  ...        #FFE000    1.0
96                  Texas  8877.94  17111.7  ...        #FFEA00    NaN
97                  Texas  8877.94  17111.7  ...        #FFEA00    NaN
98                  Texas  8877.94  17111.7  ...        #FFEA00    NaN
99                  Texas  8877.94  17111.7  ...        #FFEA00    NaN
100                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
101                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
102                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
103                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
104                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
105                 Texas  8877.94  17111.7  ...        #FFEA00    1.0
106                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
107                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
108                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
109                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
110                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
111                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
112                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
113                 Texas  8877.94  17111.7  ...        #FFEA00    NaN
114                Kansas  8648.49  17142.5  ...        #FFF400    NaN
115                Kansas  8648.49  17142.5  ...        #FFF400    1.0
116                Kansas  8648.49  17142.5  ...        #FFF400    NaN
117              New York  10810.6  18091.2  ...        #FFFF00    NaN
118              New York  10810.6  18091.2  ...        #FFFF00    NaN
119              New York  10810.6  18091.2  ...        #FFFF00    NaN
120              New York  10810.6  18091.2  ...        #FFFF00    NaN
121              New York  10810.6  18091.2  ...        #FFFF00    NaN
122              New York  10810.6  18091.2  ...        #FFFF00    NaN
123              New York  10810.6  18091.2  ...        #FFFF00    NaN
124              New York  10810.6  18091.2  ...        #FFFF00    NaN
125              New York  10810.6  18091.2  ...        #FFFF00    NaN
126              New York  10810.6  18091.2  ...        #FFFF00    NaN
127              New York  10810.6  18091.2  ...        #FFFF00    NaN
128              New York  10810.6  18091.2  ...        #FFFF00    NaN
129              New York  10810.6  18091.2  ...        #FFFF00    NaN
130              New York  10810.6  18091.2  ...        #FFFF00    1.0
131              New York  10810.6  18091.2  ...        #FFFF00    NaN
132              New York  10810.6  18091.2  ...        #FFFF00    NaN
133              New York  10810.6  18091.2  ...        #FFFF00    NaN
134              New York  10810.6  18091.2  ...        #FFFF00    NaN
135              New York  10810.6  18091.2  ...        #FFFF00    NaN
136              New York  10810.6  18091.2  ...        #FFFF00    NaN
137              New York  10810.6  18091.2  ...        #FFFF00    NaN
138              New York  10810.6  18091.2  ...        #FFFF00    NaN
139              New York  10810.6  18091.2  ...        #FFFF00    NaN
140              New York  10810.6  18091.2  ...        #FFFF00    NaN
141              New York  10810.6  18091.2  ...        #FFFF00    NaN
142              New York  10810.6  18091.2  ...        #FFFF00    NaN
143              New York  10810.6  18091.2  ...        #FFFF00    NaN
144               Indiana  10903.3  21290.3  ...        #F4FF00    NaN
145               Indiana  10903.3  21290.3  ...        #F4FF00    NaN
146               Indiana  10903.3  21290.3  ...        #F4FF00    NaN
147               Indiana  10903.3  21290.3  ...        #F4FF00    NaN
148               Indiana  10903.3  21290.3  ...        #F4FF00    1.0
149               Indiana  10903.3  21290.3  ...        #F4FF00    NaN
150               Indiana  10903.3  21290.3  ...        #F4FF00    NaN
151               Indiana  10903.3  21290.3  ...        #F4FF00    NaN
152                 Idaho  9716.32  16114.4  ...        #EAFF00    1.0
153          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
154          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
155          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
156          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
157          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
158          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
159          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
160          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
161          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
162          Pennsylvania  10607.6  18973.7  ...        #E0FF00    1.0
163          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
164          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
165          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
166          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
167          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
168          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
169          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
170          Pennsylvania  10607.6  18973.7  ...        #E0FF00    NaN
171               Montana  8957.37  18766.3  ...        #D6FF00    1.0
172         New Hampshire  11260.7  22503.7  ...        #CCFF00    1.0
173            Washington  8824.99  18395.7  ...        #C1FF00    NaN
174            Washington  8824.99  18395.7  ...        #C1FF00    NaN
175            Washington  8824.99  18395.7  ...        #C1FF00    NaN
176            Washington  8824.99  18395.7  ...        #C1FF00    1.0
177            Washington  8824.99  18395.7  ...        #C1FF00    NaN
178            Washington  8824.99  18395.7  ...        #C1FF00    NaN
179                  Utah    10590  21400.6  ...        #B7FF00    NaN
180                  Utah    10590  21400.6  ...        #B7FF00    1.0
181               Wyoming  9707.49  21797.7  ...        #ADFF00    1.0
182            California  12160.8  20015.1  ...        #A3FF00    NaN
183            California  12160.8  20015.1  ...        #A3FF00    NaN
184            California  12160.8  20015.1  ...        #A3FF00    NaN
185            California  12160.8  20015.1  ...        #A3FF00    NaN
186            California  12160.8  20015.1  ...        #A3FF00    NaN
187            California  12160.8  20015.1  ...        #A3FF00    NaN
188            California  12160.8  20015.1  ...        #A3FF00    NaN
189            California  12160.8  20015.1  ...        #A3FF00    NaN
190            California  12160.8  20015.1  ...        #A3FF00    NaN
191            California  12160.8  20015.1  ...        #A3FF00    NaN
192            California  12160.8  20015.1  ...        #A3FF00    NaN
193            California  12160.8  20015.1  ...        #A3FF00    NaN
194            California  12160.8  20015.1  ...        #A3FF00    NaN
195            California  12160.8  20015.1  ...        #A3FF00    NaN
196            California  12160.8  20015.1  ...        #A3FF00    NaN
197            California  12160.8  20015.1  ...        #A3FF00    NaN
198            California  12160.8  20015.1  ...        #A3FF00    NaN
199            California  12160.8  20015.1  ...        #A3FF00    1.0
200            California  12160.8  20015.1  ...        #A3FF00    NaN
201            California  12160.8  20015.1  ...        #A3FF00    NaN
202            California  12160.8  20015.1  ...        #A3FF00    NaN
203            California  12160.8  20015.1  ...        #A3FF00    NaN
204            California  12160.8  20015.1  ...        #A3FF00    NaN
205            California  12160.8  20015.1  ...        #A3FF00    NaN
206            California  12160.8  20015.1  ...        #A3FF00    NaN
207            California  12160.8  20015.1  ...        #A3FF00    NaN
208            California  12160.8  20015.1  ...        #A3FF00    NaN
209            California  12160.8  20015.1  ...        #A3FF00    NaN
210            California  12160.8  20015.1  ...        #A3FF00    NaN
211            California  12160.8  20015.1  ...        #A3FF00    NaN
212            California  12160.8  20015.1  ...        #A3FF00    NaN
213            California  12160.8  20015.1  ...        #A3FF00    NaN
214            California  12160.8  20015.1  ...        #A3FF00    NaN
215            California  12160.8  20015.1  ...        #A3FF00    NaN
216                  Iowa  9791.33  20050.4  ...        #99FF00    NaN
217                  Iowa  9791.33  20050.4  ...        #99FF00    NaN
218                  Iowa  9791.33  20050.4  ...        #99FF00    1.0
219                  Iowa  9791.33  20050.4  ...        #99FF00    NaN
220           Connecticut  11031.2  18973.7  ...        #8EFF00    NaN
221           Connecticut  11031.2  18973.7  ...        #8EFF00    NaN
222           Connecticut  11031.2  18973.7  ...        #8EFF00    1.0
223           Connecticut  11031.2  18973.7  ...        #8EFF00    NaN
224           Connecticut  11031.2  18973.7  ...        #8EFF00    NaN
225                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
226                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
227                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
228                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
229                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
230                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
231                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
232                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
233                  Ohio  10832.7  21691.8  ...        #84FF00    1.0
234                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
235                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
236                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
237                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
238                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
239                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
240                  Ohio  10832.7  21691.8  ...        #84FF00    NaN
241              Colorado   9641.3  18766.3  ...        #7AFF00    NaN
242              Colorado   9641.3  18766.3  ...        #7AFF00    NaN
243              Colorado   9641.3  18766.3  ...        #7AFF00    1.0
244              Colorado   9641.3  18766.3  ...        #7AFF00    NaN
245              Colorado   9641.3  18766.3  ...        #7AFF00    NaN
246             Minnesota  11340.1  20465.2  ...        #70FF00    NaN
247             Minnesota  11340.1  20465.2  ...        #70FF00    NaN
248             Minnesota  11340.1  20465.2  ...        #70FF00    NaN
249             Minnesota  11340.1  20465.2  ...        #70FF00    1.0
250             Minnesota  11340.1  20465.2  ...        #70FF00    NaN
251             Minnesota  11340.1  20465.2  ...        #70FF00    NaN
252         Massachusetts  12178.5    20549  ...        #66FF00    NaN
253         Massachusetts  12178.5    20549  ...        #66FF00    NaN
254         Massachusetts  12178.5    20549  ...        #66FF00    NaN
255         Massachusetts  12178.5    20549  ...        #66FF00    NaN
256         Massachusetts  12178.5    20549  ...        #66FF00    1.0
257         Massachusetts  12178.5    20549  ...        #66FF00    NaN
258         Massachusetts  12178.5    20549  ...        #66FF00    NaN
259         Massachusetts  12178.5    20549  ...        #66FF00    NaN
260              Virginia   9817.8  21369.7  ...        #5BFF00    NaN
261              Virginia   9817.8  21369.7  ...        #5BFF00    NaN
262              Virginia   9817.8  21369.7  ...        #5BFF00    NaN
263              Virginia   9817.8  21369.7  ...        #5BFF00    NaN
264              Virginia   9817.8  21369.7  ...        #5BFF00    1.0
265              Virginia   9817.8  21369.7  ...        #5BFF00    NaN
266              Virginia   9817.8  21369.7  ...        #5BFF00    NaN
267              Virginia   9817.8  21369.7  ...        #5BFF00    NaN
268                Nevada  11472.5  22062.5  ...        #51FF00    1.0
269              Delaware  11635.8  23580.4  ...        #47FF00    1.0
270            New Jersey  12747.7  23783.4  ...        #3DFF00    NaN
271            New Jersey  12747.7  23783.4  ...        #3DFF00    NaN
272            New Jersey  12747.7  23783.4  ...        #3DFF00    NaN
273            New Jersey  12747.7  23783.4  ...        #3DFF00    NaN
274            New Jersey  12747.7  23783.4  ...        #3DFF00    NaN
275            New Jersey  12747.7  23783.4  ...        #3DFF00    1.0
276            New Jersey  12747.7  23783.4  ...        #3DFF00    NaN
277            New Jersey  12747.7  23783.4  ...        #3DFF00    NaN
278            New Jersey  12747.7  23783.4  ...        #3DFF00    NaN
279            New Jersey  12747.7  23783.4  ...        #3DFF00    NaN

## **Section 4: Output to JSON**

We convert the result dataframe to JSON format.

In [ ]:
  # Convert dataframe to JSON
  result = result.to_json(orient = 'records')
  result = json.loads(result, object_pairs_hook = OrderedDict)

  # Make JSON format readable
  result = json.dumps(result, indent = 4, sort_keys = False)

Since we broke a for-loop into several cells (for debugging purpose), we set k again, just in case:

In [ ]:
  # Choose k: decile (11) or percentile (98)
  k = 11

In [ ]:
  # Insert result to HTML environment
  if k == 11: html1 = open(in_path + 'html1_d_1year.txt', 'r')
  if k == 98: html1 = open(in_path + 'html1_p_1year.txt', 'r')
  html2 = open(in_path + 'html2.txt', 'r')

Finally, we output the data in JSON format so amCharts can create the graph.

In [ ]:
  # Insert result to HTML environment
  with open(out_path + 'year_d/' + str(y) + '_d.html', 'w') as outfile:
    outfile.write(html1.read())
    outfile.write(result)
    outfile.write(html2.read())

After the demonstration for 1977, we now run the code for the full data for samples from 1977 to 2019, which yields HHINCOME from 1976 to 2018. Note that Python's range function does not include the last (stop) value so to get from 1977 to 2019, we use range(1977, 2020).

In [ ]:
for y in range(1977, 2020):
  # Generate result grid, decile-column
  result = pd.DataFrame(data = None, index = kName, columns = statefip)

  # Generate year dataframe
  year = raw[raw.YEAR == y]

  # Iterate through each state
  c = 0
  for i in statefip:
    # Generate state dataframe
    state = year[year.STATEFIP == i]
    state = state.reset_index(drop = True)

    # Sort state dataframe by RHHINCOME
    state = state.sort_values('RHHINCOME')
    
    # Calculate cumulated weight and Percentage
    state.CUMWTH = state.ASECWTH.cumsum()
    state.PERCENTH = state.CUMWTH/(state.ASECWTH.sum())

    # Calculate decile
    r = 0
    for k in k_ile:
      result.iloc[r,c] = state.loc[state['PERCENTH'] <= k, 'RHHINCOME'].max()
      r = r + 1
    c = c + 1

  # Transpose result table: column-decile
  result = result.T
  result.head(10)

  # Sort the result by median
  result = result.sort_values(by = ['50p'], ascending = True)
  # We won't regenerate color gradient, as we always use color gradient of 1977. 
  # colors1977 = pd.DataFrame(data = list(colors.Color), index = result.index, columns=['Color'])
  result = pd.concat([state_name, result, state_label, colors1977], axis = 1)
  result.head(5)

  # Compute state population and normalized state population
  pop = pd.DataFrame(index = statefip)
  pop["POP"] = np.nan
  pop.POP = year.groupby(['STATEFIP'])['ASECWT'].agg('sum')

  pop["NORMPOP"] = np.nan
  pop.NORMPOP = round(pop.POP/(np.percentile(pop.POP,10)))

  # Replicate each state's dataline with its respective replication number
  for i in statefip:
    rep = pop.loc[i,'NORMPOP'] - 1
    rep = int(rep)
    line = pd.DataFrame(result.loc[i]).T
    line.loc[i, 'Label'] = ''
    for i in range(0,rep): result = pd.concat([result, line])
  result.head(10)  

  # Sort the result by median
  result = result.sort_values(by = ['50p', 'State'], ascending = True)

  # Add the middle property
  result.reset_index(drop = True, inplace = True)

  result["Middle"] = np.nan
  counter = 0
  for state in result.State.drop_duplicates():
    temp = result[result.State == state]
    temp_size = len(temp.index)
    middle = (temp_size // 2)
    counter = counter + middle
    result.loc[counter, 'Middle'] = 1
    counter = counter - middle + temp_size

  # Convert dataframe to JSON
  result = result.to_json(orient = 'records')
  result = json.loads(result, object_pairs_hook = OrderedDict)

  # Make JSON format readable
  result = json.dumps(result, indent = 4, sort_keys = False)

  # Insert result to HTML environment
  if k == 11: html1 = open(in_path + 'html1_d_1year.txt', 'r')
  if k == 98: html1 = open(in_path + 'html1_p_1year.txt', 'r')
  html2 = open(in_path + 'html2.txt', 'r')

  # Save JSON file -- y-1 adjusts sample year to HHINCOME year
  with open(out_path + 'year_d_js/' + str(y-1) + '_d_RHH.js', 'w') as outfile:
    outfile.write("var data =")
    outfile.write(result)

Run the code for ERHHINCOME.

In [ ]:
for y in range(1977, 2020):
  # Generate result grid, decile-column
  result = pd.DataFrame(data = None, index = kName, columns = statefip)

  # Generate year dataframe
  year = raw[raw.YEAR == y]

  # Iterate through each state
  c = 0
  for i in statefip:
    # Generate state dataframe
    state = year[year.STATEFIP == i]
    state = state.reset_index(drop = True)

    # Sort state dataframe by ERHHINCOME
    state = state.sort_values('ERHHINCOME')
    
    # Calculate cumulated weight and Percentage
    state.CUMWTH = state.ASECWTH.cumsum()
    state.PERCENTH = state.CUMWTH/(state.ASECWTH.sum())

    # Calculate decile
    r = 0
    for k in k_ile:
      result.iloc[r,c] = state.loc[state['PERCENTH'] <= k, 'ERHHINCOME'].max()
      r = r + 1
    c = c + 1

  # Transpose result table: column-decile
  result = result.T
  result.head(10)

  # Sort the result by median
  result = result.sort_values(by = ['50p'], ascending = True)
  # We won't regenerate color gradient, as we always use color gradient of 1977. 
  # colors1977 = pd.DataFrame(data = list(colors.Color), index = result.index, columns=['Color'])
  result = pd.concat([state_name, result, state_label, colors1977], axis = 1)
  result.head(5)

  # Compute state population and normalized state population
  pop = pd.DataFrame(index = statefip)
  pop["POP"] = np.nan
  pop.POP = year.groupby(['STATEFIP'])['ASECWT'].agg('sum')

  pop["NORMPOP"] = np.nan
  pop.NORMPOP = round(pop.POP/(np.percentile(pop.POP,10)))

  # Replicate each state's dataline with its respective replication number
  for i in statefip:
    rep = pop.loc[i,'NORMPOP'] - 1
    rep = int(rep)
    line = pd.DataFrame(result.loc[i]).T
    line.loc[i, 'Label'] = ''
    for i in range(0,rep): result = pd.concat([result, line])
  result.head(10)  

  # Sort the result by median
  result = result.sort_values(by = ['50p', 'State'], ascending = True)

  # Add the middle property
  result.reset_index(drop = True, inplace = True)
  result["Middle"] = np.nan
  counter = 0
  for state in result.State.drop_duplicates():
    temp = result[result.State == state]
    temp_size = len(temp.index)
    middle = (temp_size // 2)
    counter = counter + middle
    result.loc[counter, 'Middle'] = 1
    counter = counter - middle + temp_size

  # Convert dataframe to JSON
  result = result.to_json(orient = 'records')
  result = json.loads(result, object_pairs_hook = OrderedDict)

  # Make JSON format readable
  result = json.dumps(result, indent = 4, sort_keys = False)

  # Insert result to HTML environment
  if k == 11: html1 = open(in_path + 'html1_d_1year.txt', 'r')
  if k == 98: html1 = open(in_path + 'html1_p_1year.txt', 'r')
  html2 = open(in_path + 'html2.txt', 'r')

  # Save JSON file -- y-1 adjusts sample year to HHINCOME year
  with open(out_path + 'year_d_js/' + str(y-1) + '_d_ERHH.js', 'w') as outfile:
    outfile.write("var data =")
    outfile.write(result)

This concludes the Python processing part of the project. With the data prepared, we turn to amCharts to render the graph.

In [ ]:
# import pandas as pd
# import json
# from collections import OrderedDict
# from google.colab import drive
# drive.mount('/content/gdrive')
# in_path = 'gdrive/My Drive/Colab Notebooks/code/'
# out_path = 'gdrive/My Drive/Colab Notebooks/oneState/state_d/'

# # Import raw data state codes, color codes, and deflator
# raw = pd.read_csv(in_path + "raw.csv")
# codeFirst_oneState = pd.read_csv(in_path + "codeFirst_oneState.csv", index_col = 0)
# codeThird_oneState = pd.read_csv(in_path + "codeThird_oneState.csv", index_col = 0)
# deflator = pd.read_csv(in_path +"COLI.csv")

# # Select data with HFLAG != 1 and then drop HFLAG
# raw = raw[raw.HFLAG != 1]
# raw = raw.drop(columns = ['HFLAG'])

# # Generate constants
# stateList = [1,2,4,5,6,8,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,
#              28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,
#              50,51,53,54,55,56]

# # stateList = [12]

# decile = [0.05,0.15,0.25,0.35,0.45,0.50,0.55,0.65,0.75,0.85,0.95]
# value = ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
#          '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
#          '', '', '', '', '']
# yearList = [1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988,
#             1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
#             2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
#             2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

# # Iterate through each state
# for s in stateList:
  
#   # Generate result grid, decile-column
#   result = pd.DataFrame(columns = yearList)
#   for i in range(0, 11): result.loc[i] = value
  
#   # Generate state dataframe
#   state = raw[raw.STATEFIP == s]

#   # Eliminate observations that has PERNUM != 1
#   person = state[state.PERNUM == 1]
  
#   # Merge 2 file: for raw, every row that has STATEFIP and YEAR match with 
#   # that row in deflator will get the same deflator value.
#   person = pd.merge(person, deflator, on = ["YEAR","STATEFIP"])
  
#   # Rearrange culumns order
#   person = person[['YEAR', 'ASECWTH', 'STATEFIP', 'HHINCOME', 'PERNUM', 
#                    'ASECWT','DEFLATOR','SEX','RACE','HISPAN','EDUC']]
  
#   # Generate deflated household income column
#   person.insert(7, 'DHHINCOME', '')
  
#   # Iterate through the entire 'person' to calculate deflated income
#   for i in range (0, len(person)):
#     person.iloc[i, 7] = person.iloc[i, 3]/person.iloc[i, 6]
  
#   # Sort the remainded observation by YEAR
#   person.sort_values('YEAR')
  
#   # Iterate through each year
#   c = 0
#   for i in yearList:
#     # Generate year dataframe
#     year = person[person.YEAR == i]
    
#     # Sort year dataframe by HHINCOME
#     year = year.sort_values('HHINCOME')
    
#     # Calculate cumulated weight and Percentage
#     year.insert(8, 'CUMWT', '')
#     year.insert(9, 'PERCENT', '')
#     year.iloc[0, 8] = year.iloc[0, 1]
#     year.iloc[0, 9] = year.iloc[0, 8]/(year.sum().ASECWT)
#     for i in range (1, len(year)):
#       year.iloc[i, 8] = year.iloc[i-1, 8] + year.iloc[i, 1]
#       year.iloc[i, 9] = year.iloc[i, 8]/(year.sum().ASECWT)
    
#     # Calculate decile
#     r = 0
#     for d in decile:
#       for i in range (0, len(year)):
#         if (d < year.iloc[i, 9]):
#           result.iloc[r,c] = year.iloc[i, 7]
#           r = r + 1
#           break
#     c = c + 1
    
#   # Transpose result table: column-decile
#   result = result.transpose()

#   # Type casting result.index (type casting YEAR) to integer
#   result.index = result.index.map(int)

#   # Merge state dataframe with code dataframe
#   result = pd.merge(codeFirst_oneState, result, left_index = True, right_index = True)
#   result = pd.merge(result, codeThird_oneState, left_index = True, right_index = True)

#   result.insert(14, 'POP','')
#   r = 0
#   for i in yearList:
#     year = state[state.YEAR == i]
#     result.iloc[r, 14] = year.sum().ASECWT
#     r = r + 1

#   result.insert(15, 'NORMPOP', '')
#   for i in range(0, len(result)):
#     result.iloc[i, 15] = round(10*(result.iloc[i, 14])/(result['POP'].min()))
# #     result.iloc[i, 15] = result.iloc[i, 14]/(result['POP'].min())
#   for i in yearList:
#     rep = result.loc[int(i),'NORMPOP'] - 1
#     rep = int(rep)
#     # The following statement need .copy() at the end for explicit reason
#     # More information: https://www.dataquest.io/blog/settingwithcopywarning/
#     line = result[result.index == i].copy()
#     line.name = i
#     # Remove the name of the state (so that the name does not repeat too many time)
#     line.iloc[0, 12] = ''
#     for i in range(0,rep): result = result.append(line)
        
# #   # result.to_csv(out_path+str(y)+'withPop.csv')
#   result = result.drop(columns = ['POP', 'NORMPOP'])
      
#   # Sort the result by year
#   result = result.sort_values("Year", ascending = True)

#   # Rename index column and role
#   result = result.rename(index = str, columns = {0: "5p", 1: "15p", 2: "25p",
#                                                  3: "35p", 4: "45p", 5: "50p",
#                                                  6: "55p", 7: "65p", 8: "75p",
#                                                  9: "85p", 10: "95p"})
  
#   result.to_csv(out_path+str(s) + '_d.csv')

#   # Convert dataframe to JSON
#   result = result.to_json(orient = 'records')
#   result = json.loads(result, object_pairs_hook = OrderedDict)

#   # Make JSON format readable
#   result = json.dumps(result, indent = 4, sort_keys = False)

#   # Save JSON to text format
#   with open(out_path + str(s) + '_d.txt', 'w') as f:
#     f.writelines(result)

#   # Glue data with html environment
#   filenames = [in_path + 'first_d_oneState.txt', out_path + str(s) + '_d.txt',
#                in_path + 'third.txt']
#   with open(out_path + str(s) + '_d.html', 'w') as outfile:
#     for i in filenames:
#       with open (i) as infile:
#         outfile.write(infile.read())

References:

*   Color generator: https://www.strangeplanet.fr/work/gradient-generator/index.php

*   AmChart documentation:  https://docs.amcharts.com/3/javascriptcharts/AmGraph

*   Jack Blundell's graph: https://jackblun.github.io/Globalinc/html/fig_1980.html